ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #45a049;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.container{
    /*background-image: url(images/africa.jpeg);*/
    background-color: #dddddd;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 32px;
    color: black;
    font-size: 32px;
}
input[type=text], select {
    width: 50%;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  #footer p{
    align-items: center;
  }
  footer {
      text-align: center;
      padding: 0;
      color: black;
      background-color: #45a049;
    }
  .landing{
    text-align: center;
    align-self: center;
    justify-content: center;
  }
  .form1{
    background-image: url(images/africa.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    align-items: center;
  }
  .form1 h1{
    align-items: center;
    justify-content: center;
    Flex:center;
  }
  label {
    padding: 2px;
    display: flex;
    justify-content: center;
  }
  